In [32]:
import pandas as pd
import numpy as np
import glob
file_list = glob.glob(r'Sesson1*.csv')
file_list

['Sesson1_7.csv',
 'Sesson1_6.csv',
 'Sesson1_1.csv',
 'Sesson1_2.csv',
 'Sesson1_4.csv',
 'Sesson1_5.csv',
 'Sesson1_8.csv',
 'Sesson1_3.csv']

In [42]:
df =[]
for i in file_list:
    df.append(pd.read_csv(i, skiprows=2,skipinitialspace=True,parse_dates=['Day']))

In [45]:
df[0].head()

,Day,Atlanta Hawks: (Worldwide),Sacramento Kings: (Worldwide),San Antonio Spurs: (Worldwide),Toronto Raptors: (Worldwide),Utah Jazz: (Worldwide)
0,2016-10-20,8,7,9,10,11
1,2016-10-21,9,7,8,9,7
2,2016-10-22,6,8,15,9,7
3,2016-10-23,9,7,11,10,8
4,2016-10-24,8,7,10,10,9

In [46]:
df[1].head()

,Day,Atlanta Hawks: (Worldwide),Orlando Magic: (Worldwide),Philadelphia Sixers: (Worldwide),Phoenix Suns: (Worldwide),Portland Trail Blazers: (Worldwide)
0,2016-10-20,18,30,2,16,10
1,2016-10-21,20,29,2,16,4
2,2016-10-22,14,22,3,20,22
3,2016-10-23,20,25,1,15,7
4,2016-10-24,17,22,2,15,13

In [14]:
df[0].columns.tolist()

['Day',
 'Atlanta Hawks: (Worldwide)',
 'Sacramento Kings: (Worldwide)',
 'San Antonio Spurs: (Worldwide)',
 'Toronto Raptors: (Worldwide)',
 'Utah Jazz: (Worldwide)']